<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Timestamp Microservice</title>
</head>
<body>
  <div class="container">
    <div class="spacer"></div>
    <div class="v-container">
      <div class="spacer"></div>
      <div class="content">
        <h1>Timestamp Microservice</h1>
        <p>Append a time and have it converted into natural and Unix epoc time.</p>
        <p>Example:<br>
        Add <code>/January 1, 2016</code> and get back <code>{"unix":1451606400000,"natural":"January 1, 2016"}</code>
        </p>
      </div>
      <div class="spacer"></div>
    </div>
    <div class="spacer"></div>
  </div>
</body>
</html>